.Layout {
  background: #F44336;
  display: grid;
  //grid-template-rows: 53px auto;
  //grid-template-columns: auto 142px 614px 184px auto;
  grid-template:
                "header header header header header" 53px
                ". side-bar main aside ." auto
                / auto 142px 614px 184px auto;
  column-gap: 42px;

  height: 3000px;

  &__header {
    //position: sticky;
    background: #E91E63;
    grid-area: header;
    justify-self: center;
    //grid-column-start: 2;
    //grid-column-end: 5;
    //grid-row-start: 1;
    //grid-row-end: 2;
  }
}